
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #130922; 
  color: #e6dcf5; 
  line-height: 1.6;
}


header {
  background-color: #231240; 
  position: sticky; 
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
}

nav ul {
  list-style-type: none; 
  display: flex; 
  justify-content: center; 
  gap: 2rem; 
  padding: 1rem 0;
}

nav a {
  color: #e6dcf5;
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #b76eff; 
}


section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 0 auto; 
  text-align: center;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #d8b4fe; 
}


.hero h1 {
  font-size: 3rem;
  color: #b76eff; 
}

.hero h2 {
  font-size: 1.5rem;
  color: #9a88b5; 
  margin-bottom: 1rem;
}


.grid-proyectos {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap; 
}

.tarjeta {
  background-color: #231240; 
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.5); 
  border: 1px solid #3c2463; 
  width: 300px;
  text-align: left;
}

.tarjeta h3 {
  color: #d8b4fe;
  margin-bottom: 0.5rem;
}


.lista-skills {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-skills li {
  background-color: #581c87; 
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 20px; 
  font-weight: bold;
  border: 1px solid #7e22ce; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

footer {
  background-color: #0b0416; 
  color: #7b6997;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}


.btn-github {
  display: inline-block;
  background-color: #2e1065; 
  color: #fff;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #6b21a8;
  transition: all 0.3s ease;
}

.btn-github:hover {
  background-color: #4c1d95; 
  box-shadow: 0 4px 10px rgba(183, 110, 255, 0.3); 
  transform: translateY(-2px); 
}
